<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      {% if site.data.settings.profile_settings.profile_image %}
      <a href="{{ site.baseurl }}/" class="header__logo">
        <img src="{{ site.data.settings.profile_settings.profile_image | relative_url }}" alt="">
      </a>
      {% else %}
      <a href="{{ site.baseurl }}/" class="header__title">
        {{ site.data.settings.basic_settings.site_title }}
      </a>
      {% endif %}

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Raymond, nice to meet you!</h2>
      <p class="subtitle subtitle--light">Graduated with an ICT Degree and Diploma. Open to any graduate and junior opportunities in NZ and Australia.
      </p>

      <p>Hard-working team player with skills in software development, web development, agile methodology, cloud computing, security, server maintenance, vector design, form design, and more.</p>
      {% if site.data.settings.contact_settings.email_address != '' %}
      <p>I’d love to see how things go, feel free to send me an email!</p>
      {% else %}
      <p>I’d love to see how things go, feel free to send me your enquiry!</p>
      {% endif %}
      
      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>