<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      {% if site.data.settings.profile_settings.profile_image %}
      <a href="{{ site.baseurl }}/" class="header__logo">
        <img src="{{ site.data.settings.profile_settings.profile_image | relative_url }}" alt="">
      </a>
      {% else %}
      <a href="{{ site.baseurl }}/" class="header__title">
        {{ site.data.settings.basic_settings.site_title }}
      </a>
      {% endif %}

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Kia ora, my name is Raymond!</h2>
      <p class="subtitle subtitle--light">Graduated with an ICT Degree and Diploma. Open to any graduate and junior opportunities in NZ and Australia.
      </p>

      <p>Hard-working team player with skills in agile software development, web development, cloud computing, server maintenance, vector design, form design, and more.</p>
      <p>I’d love to see how things go, feel free to send me your enquiry below or <a
        href="{{ site.data.settings.social_settings.linkedin_url }}">on LinkedIn!</a></p>
      
      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>