---
layout: default
---
<div class="page-post">

	<header class="post__header header--single">
		
		<div class="wrap">
			<input class="button--fill --leftFill --mediumSize --active" type="button" id="technicalButton" value="Technical" onClick="showTechnical();"/><input class="button--fill --rightFill --mediumSize" type="button" id="softSkillsButton" value="Soft Skills" onClick="showSoftSkills();"/>
		</div>

	</header>

	<section class="post-full">

		<div class="wrap">

			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}
			</article>

		</div>

	</section>

</div>