---
layout: default
---
<div class="page-post">

	<header class="post__header header--single">
		
		<div class="wrap">
			<input class="button--fill --leftFill --mediumSize --active" type="button" id="technicalButton" value="Technical" onClick="showTechnical();"/><input class="button--fill --rightFill --mediumSize" type="button" id="softSkillsButton" value="Soft Skills" onClick="showSoftSkills();"/>
		</div>

	</header>

	<section class="post-full">

		<div class="wrap">

			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}
			</article>

		</div>

	</section>

</div>
<script>
	const technical = "technical";
	const softSkills = "softSkills";
	const technicalDiv = getElement(technical);
	const softSkillsDiv = getElement(softSkills);
	const technicalButton = getButton(technical);
	const softSkillsButton = getButton(softSkills);
    function showTechnical() {
		$("#softSkills").hide("slow");
		$("#technical").show("slow");
	  	toggleButtons(technicalButton, softSkillsButton);
    }
    function showSoftSkills() {
		$("#technical").hide("slow");
      	$("#softSkills").show("slow");
		toggleButtons(softSkillsButton, technicalButton);
    }
	function toggleButtons(active, disactive){
		var activeButton = getElement(active);
		var disactiveButton = getElement(disactive);
		activeButton.disabled = true;
		activeButton.classList.add("--active");
		disactiveButton.disabled = false;
		disactiveButton.classList.remove("--active");
	}
	function getElement(string){
		return document.getElementById(string);
	}
	function getButton(string){
		return string + "Button";
	}
</script>